body {
  background-color: rgb(240,240,240);
}

h2 {
  font-size: 30px;
  color: rgb(20,20,20);
}

p {
  color: #3B3561
  /*THIS IS A COMMENT */

}

#header {
  background-image: url('https://media.nu.nl/m/m1nxed4ao7fj_wd640.jpg/ontwerper-reuzenbadeend-beschuldigt-braziliaanse-betogers-van-plagiaat.jpg');
  padding: 200px;
  background-size: cover;
  text-align: center;
}

.card {
  text-align: center;
}

#footer {
  padding: 150px;
  background-color: rgb(10,10,10);
}

 #footer p {
  color: rgb(250,250,250);
 }

 #footer a {
  color: pink;
  font-size: 30px;
 }

#footer a:hover {
  color: yellow;
 }

.typeform-widget {
  margin-left: auto;
  margin-right: auto;
}



